html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    color: rgb(14, 70, 113);
    background-color: white;
  
}

nav ul li  {
    display: inline-block;
    text-decoration: none;
    position: relative;
    margin-top: -20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0%;
    font-size: 20px; 
}

ul {
    
    padding: 10px;
    margin-top: 0px;
    background-color: white;
    display: inline-block;
}

ul a:hover{
    background-color: rgb(46, 106, 170);
}

a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(14, 70, 113);
    text-decoration: none;
    text-align: center;
    float: right;  
} 

h1 {
    color: rgb(68, 121, 177);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    display: block;
    text-align: center;
}

p{
    text-align: center;
}

h2 {
    color: rgb(68, 121, 177);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
}

.nuestros-amigos{
    background-color: white;
}

.logo {
    width: 0%;
    margin: 0%;
    width: 60px;
    border-radius: 50px 50% 50% 50%;
    height: 65px;
    position: relative;
}

.imagen {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.animales-content{
    display: flex;
    justify-content: space-between;
}

.animales1{
    padding: 15px 55px;
    border-radius: 0px;
}
.animales1 img{
    width: 200px;
    border-radius: 0px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.animales-content2{
    display: flex;
    justify-content: space-between;
}

.animales2{
    padding: 15px 55px;
    border-radius: 10px;
}
.animales2 img{
    width: 200px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.tom {
   font-size: 100%;
   padding: 1%;
   justify-content: space-between;
   
}
.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

footer p{ 
    font-size: 15px;
    color: rgb(68, 121, 177);
    background-color:  white;
    padding: 10px;
}





